#header {
    position: sticky;
    display: flex;
    top: 0;
    height: 60px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 999;
}

#header .inner {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

#header .gnb {
    margin: 0 0 0 auto;
}

/*#header .inner .logo {
    margin: 0 auto;
}*/
.logo img {
    width: 110px;
}

.gnb ul {
    display: flex;
    gap: 40px;
    margin-right: 30px;
}

.gnb ul>li {
    position: relative;
    font-size: 17px;
    font-weight: 500;
}


.gnb ul>li::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 4px;
    background: #1f9cc2;

    transition: 0.3s;
}

.gnb ul li:hover {
    color: #1f9cc2;
}

.gnb ul>li:hover::after {
    width: 100%;
}

.gnb ul>li a {
    display: block;
}

.search {
    font-size: 25px;
    border: 2px solid#1f9cc2;
    border-radius: 10%;
    color: #1f9cc2;
    padding: 5px;
    cursor: pointer;
}

.search:hover {
    color: #eee;
    background-color: #1f9cc2;
}

/*header끝*/

.mainVisual {
    position: relative;
}

.mainSlider figure {
    height: 800px;
    position: relative;
}

.mainSlider .itm01 {
    background: url(../image/mainSlider01.png)no-repeat center center/cover;
}

.mainSlider .itm02 {
    background: url(../image/mainSlider02.png)no-repeat center center/cover;
}

.mainSlider .itm03 {
    background: url(../image/mainSlider03.png)no-repeat center center/cover;
}

.mainSlider .itm04 {
    background: url(../image/mainSlider04.png)no-repeat center center/cover;
}

.mainSlider .itm05 {
    background: url(../image/mainSlider05.jpg)no-repeat center center/cover;
}

.mainSlider .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
}

.mainSlider .slogan strong {
    display: block;
    margin: 0 0 10px 0;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.mainSlider .slogan p {
    margin: 0 0 30px 0;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mainSlider .slogan a {
    display: inline-block;
    background: #1f9cc2;
    color: #fff;
    padding: 15px 20px 15px 20px;
}

.slogan a:hover {
    background: #fff;
    color: #1f9cc2;
    outline: 2px solid #1f9cc2;
}

/*slide끝*/
.cont1 h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 100px 0;
}

.car01 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    gap: 100px 15px;
}

.car01 figure strong {
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0;
}

.car01 figure a {
    display: block;
    width: 180px;
    height: 35px;
    font-size: 16px;
    color: #eee;
    background: #000;
    line-height: 35px;
    margin: 0 auto;
    border-radius: 35px;

}

.car01 figure img {
    width: 100%;
}

.car01 figure a:hover {
    outline: 2px solid#1f9cc2;
}

/*cont1끝*/
.cont2 {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

.cont2 .icon {
    display: flex;
    text-align: center;
    gap: 20px;
}

.cont2 .icon li {
    flex: 1;
    position: relative;
    border: 2px solid#000;
}

.cont2 .icon a {
    display: block;
    padding: 30px 0 30px 0;
}

.cont2 .icon a:hover {
    background: #1f9cc2;
    color: #fff;
}

.cont2 .icon i {
    font-size: 40px;
}

.cont2 .icon a strong {
    display: block;
    font-size: 20px;
}

/*cont2끝*/

.cont3 h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 100px 0;
}

.cont3 .news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.news .newsBox {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.newsBox .cover {
    position: absolute;
    inset: 0 auto auto 100%;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;

    background: rgba(31, 156, 194, 0.8);
    color: #fff;
    padding: 30px 15px;
    overflow: hidden;

    transition: 0.4s;
}

.newsBox .cover .tit {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.newsBox .cover a {
    background: #1f9cc2;
    color: #fff;
    border: 2px solid#fff;
    font-weight: 500;
    padding: 5px 10px;
    margin: auto 0 0 0;
    align-self: flex-start;
}

.newsBox .cover a:hover {
    background: #fff;
    color: #1f9cc2;
}

.newsBox:hover .cover {
    inset: 0 auto auto 0;
}

/*cont3*/
#footer {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding-top: 100px;
}

.footerin {
    margin: 0 auto;
}

.footerin .fmenu {
    line-height: 50px;
    display: flex;
    gap: 50px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    justify-content: center;
}

.footerin .fmenu li:hover {
    font-weight: 500;
}

.f_b {
    text-align: center;
    padding: 20px 0;
}

.f_b img {
    width: 200px;
    height: 80px;
    object-fit: cover;
}